extends layout

block content
    h2= data.nama
    hr
    table.table.table-striped
        tr
            td.text-center(colspan='2')
                img.img-responsive.img-thumbnail(src=data.role.icon, width='50px')
        tr
            td Nama Role
            td
                b= data.role.nama_role
        tr
            td Deskripsi
            td
                b= data.role.desc
        

        